!zsh/parts/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
local_settings.py
db.sqlite3

# pyenv
.python-version

!Sublime/**/.python-version
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

!Sublime/CreateThings/lib/
**/.ruff_cache

/.config/pg/pgpass
